:root {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  --serif: PT Serif, serif;
  --mono: Source Code Pro, monospace;
  --sans: Source Sans Pro, sans-serif;
  font-size: 62.5%;
  box-sizing: border-box;
  --light-background: #f5f5f5;
  --dark-background: #DADED4;
  --light-accent: #4D774E;
  --dark-accent: #164A41;
  --light-highlight: #FDF8F5;
  --dark-highlight: #393f4d;
}

html, body, #root {
  overflow: hidden;
  background-color: var(--dark-background);
}

body {
  font-size: 1.8rem;
  margin: 0;
}

*,*::after, *::before {
  box-sizing: inherit;
}

code {
  background-color: var(--dark-background);
  padding: 0 5px;
  border-radius: 10px;
  font-weight: normal;
  font-size: .8em;
  max-width: 100%;
  word-break: break-all;
}

pre {
  display: block;
  margin: 0;
  max-width: 100%;
  font-size: .8em;
  white-space: pre-wrap;
}

p {
  text-indent: 10px;
}

figure {
  margin: 0;
}

h1,h2,h3,h4,h5,h6 {
  margin: .8rem;
}

* {
  scroll-behavior: smooth;
}

@supports (-webkit-overflow-scrolling: touch) {
  :where(input) {
    font-size: 1.6rem;
  }
}

.nav_bar_container {
  width: 100vw;
  height: 75px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #164A41, #164A41 25%, #4D774E 75%, #9DC88D 100%);
  color: white;
}

.nav_bar {
  width: 90%;
  height: 90%;
  max-width: 1500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  cursor: pointer;
}

.hamburger {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.hamburger .line {
  display: block;
  width: 40px;
  height: 3px;
  background-color: var(--light-highlight);
  margin-block: 10px;
  border-radius: 4px;
  transition: transform .5s, opacity .25s;
}

.hamburger.active .line:nth-child(1) {
  transform: translateY(13px) rotate(45deg);
}

.hamburger.active .line:nth-child(2) {
  opacity: 0;
}

.hamburger.active .line:nth-child(3) {
  transform: translateY(-13px) rotate(-45deg);
}

.nav_bar_menu {
  width: 40vw;
  max-width: 300px;
  background-color: var(--light-background);
  position: absolute;
  right: 0;
  top: 75px;
  color: black;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  border-radius: 0 0 0 5px;
}

.fade_in {
  animation: fade .5s ease-in-out;  
}

@keyframes fade {
  0%{ opacity: 0; transform: scale(.99); }
  100% { opacity: 1; transform: scale(1); }
}

.link {
  padding: 5px 20px;
  font-size: 2rem;
  cursor: pointer;
  color: var(--light-highlight);
  background: linear-gradient(to left, var(--dark-accent), var(--light-accent));
  border-radius: 5px;
  border: 2px solid var(--light-accent);
  position: relative;
  transition: all .5s ease-in-out;
  width: 100%;
  max-width: 200px;
}

.link::before,
.link::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  border: inherit;
  transition: all .5s;
}

.link::before {
  top: -10px;
  left: -10px;
  border-width: 3px 0 0 3px;
}

.link::after {
  bottom: -10px;
  right: -10px;
  border-width: 0 3px 3px 0;
}

.link:hover::before,
.link:hover::after {
  width: calc(100% + 20px);
  height: calc(100% + 20px);
}

.link:hover {
  transform: scale(.95);
}

.main_container {
  max-height: 90vh;
  overflow-y: auto;
  height: calc(100% - 75px);
  position: absolute;
  top: 75px;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 5px;
  gap: 20px;
}

.section {
  background-color: var(--light-background);
  padding: 20px;
  border-radius: 10px;
  width: 90vw;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.list_item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list_column {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.image {
  object-fit: cover;
  max-width: 500px;
  height: 300px;
  width: 90%;
  border-radius: 10px;
}

.modal_image {
  object-fit: contain;
  max-width: 80vw;
  height: 80vh;
  border-radius: 10px;
}

.list {
  list-style: lower-roman;
  list-style-position: inside;
  text-align: left;
  padding-left: 5px;
}

.list > * {
  padding-bottom: 10px;
}

.header {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 25px;
}

.header > .link {
  align-self: center;
}

.scroll {
  display: inline-block;
  margin-block: 4px;
  text-decoration: none;
  color: var(--dark-accent);
  position: relative;
  font-size: 2rem;
}

.scroll::after {
  content: '';
  width: 100%;
  height: 1px;
  background-color: var(--light-accent);
  border-radius: 4px;
  position: absolute;
  left: 0;
  bottom: 0;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform .25s ease-in-out;
}

.scroll:hover::after {
  transform: scaleX(1);
}

.top {
  align-self: flex-end;
  margin: 0;
}

@media screen and (min-width: 1200px) {

  .header {
    flex-direction: row;
    gap: 25px;
    align-items: center;
    justify-content: space-between;
    /* width: 90vw; */
  }
}